.jumbotron
  %p.text-left
    = link_to 'Назад к списку заказов', admin_orders_path, class: 'btn btn-primary'
    = link_to 'Изменить заказ', edit_admin_order_path(@order), class: 'btn btn-success'

  %h3= @order.head_info

  %table.table.table-hover
    %tbody
      %tr
        %td Ресторан
        %td= @order.restaurant.name
      %tr
        %td Статус
        %td= I18n.t("activerecord.attributes.order.state.#{@order.state}")
      %tr
        %td Сумма заказа
        %td= @order.price
      %tr
        %td Стоимость доставки
        %td= @order.delivery_price
      %tr
        %td Телефон
        %td= @order.phone
      %tr
        %td Имя
        %td= @order.name
      %tr
        %td Улица
        %td= @order.street
      %tr
        %td Дом
        %td= @order.house
      %tr
        %td Подъезд
        %td= @order.entrance
      %tr
        %td Этаж
        %td= @order.floor
      %tr
        %td Квартира
        %td= @order.flat
      %tr
        %td Домофон
        %td= @order.intercom
      %tr
        %td Комментарий
        %td= @order.comment



