.jumbotron
  .row
    %h3= @order.head_info
    .col-md-3
      %p Ресторан
      %p Статус
      %p Сумма заказа
      %p Телефон
      %p Имя
      %p Улица
      %p Дом
      %p Подъезд
      %p Этаж
      %p Квартира
      %p Домофон
      %p Комментарий
    .col-md-9
      %p= @order.restaurant.name
      %p= I18n.t("activerecord.attributes.order.state.#{@order.state}")
      %p= @order.price
      %p= @order.phone
      %p= @order.name
      %p= @order.street
      %p= @order.house
      %p= @order.entrance
      %p= @order.floor
      %p= @order.flat
      %p= @order.intercom
      %p= @order.comment



