.jumbotron
  .row
    .col-md-3
    .col-md-6
      = form_for [:admin, @restaurant, @point] do |f|
        .form-group
          = f.label 'Название'
          = f.text_field :name, class: 'form-control'
          = show_errors(f.object.errors, :name)
        .form-group
          %p{style: "text-align: center;"}
            = f.submit 'Сохранить', class: 'btn btn-primary'
        .col-md-3

