.jumbotron
  .row
    %h3= "Точки выдачи ресторана #{ @restaurant.name }"
    %p.text-right= link_to 'Добавить точку выдачи', new_admin_restaurant_point_path(@restaurant), class: 'btn btn-success'
    %table.table.table-hover
      %thead
        %tr
          %td ID
          %td Название
          %td
          %td
      %tbody
        - @points.each do |point|
          %tr
            %td= point.id
            %td= point.name
            %td= link_to 'Изменить', edit_admin_restaurant_point_path(@restaurant, point), class: 'btn btn-warning'
            %td= link_to 'Удалить', admin_restaurant_point_path(@restaurant, point), method: :delete, class: 'btn btn-danger'