.jumbotron
  .row
    .col-md-8
      = search_form_for @q, class: 'form-inline' do |f|
        .form-group
          = f.label 'Дата с'
          = f.date_field :created_at_gteq, { class: 'form-control' }
        .form-group
          = f.label 'Дата по'
          = f.date_field :created_at_lteq, { class: 'form-control' }
        .form-group

          = f.submit 'Найти', class: 'btn btn-primary'
    .col-md-4
      %p.text-right= link_to 'Новый заказ', new_order_path, class: 'btn btn-success'
  %br
  %br
  %table.table.table-hover
    %thead
      %tr
        %td
          %strong ID
        %td
          %strong Дата создания
        %td
          %strong Время создания
        %td
          %strong Адрес
        %td
          %strong Клиент
        %td
          %strong Сумма
        %td
          %strong Доставка
        %td
          %strong Статус

    %tbody
      - @orders.each do |order|
        %tr{ data: { link: order_path(order)  } }
          %td= order.id
          %td= order.created_at.strftime('%d.%m.%Y')
          %td= order.created_at.strftime('%H:%M')
          %td= address(order)
          %td= name_and_phone(order)
          %td= order.price
          %td= order.delivery_price
          %td= I18n.t("activerecord.attributes.order.state.#{order.state}")

