= @order.head_info
%br

Информация о заказе

= "Ресторан: #{ @order.restaurant.name }"
%br
= "Точка: #{ @order.point.present? ? @order.point.name : '-' }"
%br
= "Комментарий #{ @order.comment }"
%br
= "Сумма заказа #{ @order.price }"
%br

Информация о кленте

= "Телефон: #{ @order.phone }"
%br
= "Имя: #{ @order.name }"
%br
= "Улица: #{ @order.street }"
%br
= "Дом: #{ @order.house }"
%br
= "Подъезд: #{ @order.entrance }"
%br
= "Этаж: #{ @order.floor }"
%br
= "Квартира: #{ @order.flat }"
%br
= "Домофон: #{ @order.intercom }"
%br
%br
%br
= link_to 'Принять заказ', set_accepted_order_url(@order, token: @order.token) if @order.init?
