!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Delivery
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          - if current_user && current_user.admin?
            .navbar-header
              %strong= link_to 'Доставка', admin_users_path, class: 'navbar-brand'
            #navbar.navbar-collapse.collapse
              %ul.nav.navbar-nav
                %li= link_to 'Пользователи', admin_users_path
                %li= link_to 'Рестораны', admin_restaurants_path
                %li= link_to 'Заказы', admin_orders_path
              %ul.nav.navbar-nav.navbar-right
                %li{style: 'padding-top: 15px;'}= "Здравствуйте, #{ I18n.t("activerecord.attributes.user.role.#{current_user.role}") } #{current_user.email}"
                %li= link_to "Выйти", :logout, method: :post

          - elsif current_user && current_user.member?
            .navbar-header
              %strong= link_to 'Доставка', root_path, class: 'navbar-brand'
            %ul.nav.navbar-nav.navbar-right
              %li{style: 'padding-top: 15px;'}= "Здравствуйте, #{ I18n.t("activerecord.attributes.user.role.#{current_user.role}") } #{current_user.email}"
              - if current_user.member?
                %li= link_to "Заказы #{ current_user.restaurant.name }", orders_path
                %li= link_to "Выйти", :logout, method: :post
          - else
            .navbar-header
              %strong= link_to 'Доставка', root_path, class: 'navbar-brand'

      = yield

